{% extends "ui/layouts/app.html" %}
{% load i18n %}
{% block jquery_init %}
//window load is called when all images has been loaded
// then apply shadows with all elements on screen
$(window).load(function() {
        $(".whiteboard").dropShadow({left: 0, top: 1, blur: 2, opacity: 0.2} )
});

{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Resetear contraseña' %}</div>{% endblock %}

{% block title %}{% trans 'Restablecer Contraseña' %}{% endblock %}

{% block header_links%}
{% endblock %}
{% block page %}
<div class="span-24  last">
    <div id="circles" class="span-3 append-14 last">
        <img src="/media/ui/img/circles_top_left.png" alt="" />
    </div>

    <div id="" class="whiteboard prepend-1 span-22 last" style="padding:16px;">

  
        <h2>{% trans 'Proceso completado' %}</h2>

        <p>{% trans "Contraseña restablecida con éxito." %}</p>
    </div>
</div>    
{% endblock %}
