{% extends "ui/layouts/app.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Confirmación de reseteo de contraseña' %}</div>{% endblock %}

{% block title %}{% trans 'Contraseña restablecida' %}{% endblock %}
{% block header_links%}
{% endblock %}
{% block jquery_init %}
//window load is called when all images has been loaded
// then apply shadows with all elements on screen
$(window).load(function() {
        $(".whiteboard").dropShadow({left: 0, top: 1, blur: 2, opacity: 0.2} )
});
$("#id_submit").click(function() {
    $("form").submit();
});
{% endblock %}
{% block page %}
<div class="span-24  last">
    <div id="circles" class="span-3 append-14 last">
        <img src="/media/ui/img/circles_top_left.png" alt="" />
    </div>

    <div class="whiteboard prepend-1 span-22 last" style="padding:16px;">


         {% if validlink %}

        <h2>{% trans 'Introduce la nueva contraseña' %}</h2>

        <p>{% trans "Por favor introduce la contraseña dos veces para que podamos verificar que está bien escrita." %}</p>

        <form action="" method="post">
        {{ form.new_password1.errors }}
        <p class="aligned wide"><label for="id_new_password1">{% trans 'Nueva contraseña: ' %}</label>{{ form.new_password1 }}</p>
        {{ form.new_password2.errors }}
        <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirma contraseña: ' %}</label>{{ form.new_password2 }}</p>
        <p><a id="id_submit" href="#" class="reset_pass_btn">{% trans 'Cambiar contraseña' %} </a></p>
        </form>

        {% else %}

        <h1>{% trans 'Ocurrió un error al resetear la contraseña ' %}</h1>

        <p>{% trans "El enlace es inválido, posiblemente porque ya ha sido usado. Por favor vuelve a hacer la petición." %}</p>

        {% endif %}
    </div>

</div> <!-- login_container -->          
{% endblock %}
