{% extends "layouts/app.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
   <li><a href="{% url satchmo_account_info %}">{% trans "Account" %}</a></li>
   <li>{% trans "Cambio de Contraseña" %}</li>
{% endblock %}

{% block header_links%}
{% endblock %}

{% block jquery_init %}
$("#id_submit").click(function() {
    $("form").submit();
});
{% endblock %}
{% block page %}
<div id="" class="span-24  last">
    <div id="" class="whiteboard prepend-1 span-22 last" style="padding:16px;">
        <h2>{% trans "Cambiar tu contraseña" %}</h2>
        <p>{% trans "Por seguridad, por favor introduce tu antigua contraseña y dos veces la nueva." %}</p>

        <div class="span-10">
        <form action="" method="post">
        <p>
          {% if form.old_password.errors %}
          <div class="error">{{ form.old_password.errors.0 }}</div>
          {% endif %}
          <label for="id_old_password">{% trans "Contraseña antigua" %}: </label>{{ form.old_password }}
        </p>
        <p>
          {% if form.new_password1.errors %}
          <div class="error">{{ form.new_password1.errors.0 }}</div>
          {% endif %}
          <label for="id_new_password1">{% trans "Contraseña nueva" %}: </label>{{ form.new_password1 }}
        </p>
        <p>
          {% if form.new_password2.errors %}
          <div class="error">{{ form.new_password2.errors.0 }}</div>
          {% endif %}
          <label for="id_new_password2">{% trans "Confirma la contraseña" %}: </label>{{ form.new_password2 }}
        </p>
        <p><a id="id_submit"  href="#" class="button">{% trans "Cambiar contraseña" %} </a></p>
        </form>
        </div>
    </div>

</div>     
{% endblock %}
