{% extends "layouts/app.html" %}
{% load i18n %}

{% block header_links%}
{% endblock %}

{% block jquery_init %}

//window load is called when all images has been loaded
// then apply shadows with all elements on screen
$(window).load(function() {
        $(".whiteboard").dropShadow({left: 0, top: 1, blur: 2, opacity: 0.2} )
});

{% endblock %}

{% block page %}
<div id="" class="span-24 last">
    <div id="" class="whiteboard prepend-1 span-22 last" style="padding:16px;">

        <h2>{% trans "Se realizó el cambio de contraseña con éxito" %}</h2>
        <p>{% trans "El cambio de contraseña se ha completado." %}</p>
        <a href="{% url profile_edit %}">{% trans "Volver a la edición de perfil" %}</a>
    </div>
</div>
{% endblock %}
