{% extends "layouts/app.html" %}

{% block js %}
var NORMAL = 0;
var ADD_POINT = 1;
var SHOW_ROUTE = 2;
var state = NORMAL;
var maps;
var new_marker;
var points = new Array();
var markers = new Array();
var timeouts = new Array();

{%for point in points%}
    po  = new google.maps.LatLng({{point.latitude}}, {{point.longitude}});
    points.push({'point':po, 'id': {{point.id}}});
{%endfor%}
function showMsg() {
    maps.showMsg("welcome",  'Aquí tienes las últimas <br>zonas añadidas!', 350, 230, false);
}

{% endblock %}
{% block jquery_init %}
function setState(new_state) {
    switch (new_state) {
        case NORMAL:
            if (state == SHOW_ROUTE) {
                maps.cleanDirections();
                removeMarkers();
            }
            loadPoints();
            $("#add_point").text("Añadir zona");
            $("#route").text("Hacer ruta");
        break;
        case ADD_POINT:
            $("#add_point").text("Cancelar");
            $.fancybox('<div class="popup" style="height:140px"><h2> Para añadir un punto deja el ratón pulsado<br> hasta que aparezca</h2></div>');
            removeMarkers();
            for (index in timeouts) {
               clearTimeout(timeouts[index]);
            }
            break;
        case SHOW_ROUTE:
            $("#add_point").text("Cancelar");
            $("#route").text("Hacer ruta");
        break;
    }
    state = new_state;
}

function loadPoints() {
     $.ajax({
            url: "/point/get_last_points/",
            method: 'GET',
            dataType: 'json',
            data:'',
            success: function(data) {
                if (data.success) {
                    for (i = 0; i < data.points.length;i++) {
                        point = data.points[i];
                        var timeout = setTimeout((function(point) { return function() {
                            marker = maps.addMarker( new google.maps.LatLng(point.lat , point.lng), point.id);
                            markers.push(marker);
                        };
                        })(point), i*300);
                        timeouts.push(timeout);
                    }
                }
            }
         });

}
function loadMap(data) {
    maps = data;
    loadPoints();
    setTimeout('showMsg()',1500);
}
$("#add_point").click(function() {
    switch (state) {
    case NORMAL: 
        setState(ADD_POINT);
        break;
    default:
        setState(NORMAL);
    }
});

function removeMarkers() {
    markers.forEach(function(value, clave) {
        value.setMap(null); 
    });
}
            
function add_point(e) {
    if (state != ADD_POINT) return;
    if (new_marker) {
         new_marker.setMap(null);
    }
    new_marker = maps.addMarker(e.latLng);
     $.ajax({
            url: "/point/add_point/",
            method: 'GET',
            dataType: 'json',
            data:'',
            success: function(data) {
                if (data.success) {
                    $.fancybox(data.html,
                        {'onClosed'		: function() {
                          new_marker.setMap(null);
                          $("#add_point").trigger("click");
                       }});
                    $("#id_latitude").val(e.latLng.lat());
                    $("#id_longitude").val(e.latLng.lng());
                    $('#my_form').ajaxForm(function() { 
                        $.fancybox.close()
                        $("#add_point").trigger("click");
                    }); 
                }
            } 
        });
}
$("#route").click(function() {
     $.ajax({
            url: "/point/get_route_form/",
            method: 'GET',
            dataType: 'json',
            data:'',
            success: function(data) {
                if (data.success) {
                    $.fancybox(data.html,
                        {'onClosed'		: function() {
                       }});
                   $("#do_route").click(function() {
                        removeMarkers();
                        maps.calcRoute($("#id_source").val(), $("#id_target").val(), points);
                        setState(SHOW_ROUTE);
                        $.fancybox.close();
                    });
                }
            } 
        });
});
Maps(loadMap, add_point);

{% endblock %}

{% block page %}
   
    <div id="map_canvas">
    </div> <!-- map -->

{% endblock %}

