/* grid */

#grid {
  position: absolute;
  top: 0;
  left: 50%;
  background: url(/media/ui/img/bg-grid-980.gif) repeat-y 0 0;
  width: 980px;
  margin-left: -490px;
}

#grid div.horiz {
  height: 17px;
  border-bottom: 1px dotted #aaa;
  margin: 0;
  padding: 0;
}