{% load i18n %}
{% comment %}
<!--
  -->
  {% endcomment %}
<div class="popup" > 
<h3 style="text-align:center">
    <span >Buscar ruta</span>
</h3>
    <div style='width:300px;height:200px'>
         <dl>
            <dt>
                <label for="source">Origen</label>
                <input id="id_source" type="text" maxlength="255" name="source">
            </dt>
            <dt>
                <label for="target">Destino</label>
                <input id="id_target" type="text" maxlength="255" name="target">
            </dt>
             <br> 
             <dt style="float:right">
                 <a href="#" id="do_route" class="button" >Buscar</a>
             </dt>
        </dl>
    </div>
</div>
